[2015-03-10 16:19] aammd opened #1 "Improve the readme"
- [x] add the metadata there instead
- [x] draw a little picture explaining our workflow and upload that

[2015-03-10 17:14] aammd opened #2 "Add some simple tests"
After splitting the data we need to make sure that we can put it together again without a problem. `left_join()` the datasets,  then:
- [x] count rows, compare to original
- [ ] check names, make sure perfectly match original (?)

[2015-03-10 17:16] aammd commented on #2
@adletaw am I missing anything? I thought about trying to add [TravisCI](http://docs.travis-ci.com/user/languages/r/) and I need you to tell me that is overkill if it is.

[2015-03-10 19:47] #2 closed

[2015-03-10 21:59] aammd opened #3 "Correct variable names"
Some sneaky duplicate names were found to be present in `Distribution_organisms_correct2015.csv`. conferred with @dsrivast and determined that columns T through Y and AA should be deleted. This means we lose the (second) columns called `micro.macro`, `Notes`, `nickname`, `Site1`, `site2`, `site3`, and `func.group`

[2015-03-10 22:00] #3 closed

[2015-03-10 23:46] aammd opened #4 "Fix the Travis Build"

[2015-03-10 23:47] aammd opened #5 "Convert data to .tsv"
to prevent pain when our Brazilian or French colleagues get involved

[2015-03-11 00:37] #5 closed

[2015-03-11 02:19] aammd opened #6 "find the predators"
using the values of FG

[2015-03-11 20:55] aammd opened #7 "Fill in the functional traits"
Fill in [this data](https://github.com/SrivastavaLab/bwg_names/blob/61a9db2fb218f25d0767b72c9c6934b69cbd1111/data/traits.tsv) with all the functional traits

[2015-03-11 21:10] adletaw opened #8 "Taxonomy"
- [x] Fill in missing data
- [x] Correct spelling
- [ ] Address any unresolved issues in [Vinicius' file](https://github.com/SrivastavaLab/bwg_names/blob/master/taxonimical%20problems)

[Data here](https://github.com/SrivastavaLab/bwg_names/blob/master/data/taxonomic.tsv)

[2015-03-11 21:30] adletaw opened #9 "Label aquatic/terrestrial"
- [ ] Set aquatic, semiaquatic, terrestrial labels for all known species.
- [ ] Create a list of unresolved species
- [ ] Send to BWG for resolution
- [x] Add NA for any species that cannot be labeled

[Data here](https://github.com/SrivastavaLab/bwg_names/blob/master/data/aquatic_terrestrial_only.tsv)

[2015-03-11 21:46] adletaw opened #10 "Micro vs. Macro"
Fill in the micro/macro column for all species

[Data here](https://github.com/SrivastavaLab/bwg_names/blob/master/data/macromicro.tsv)

[2015-03-11 21:47] adletaw opened #11 "Predator vs. Prey"
Set the value of the predator/prey column for all species.

[2015-03-11 21:47] adletaw opened #12 "Functional Groups"
Set the functional groups for all species.

[Data here](https://github.com/SrivastavaLab/bwg_names/blob/master/data/functional_group_only.tsv)

[2015-03-11 21:48] adletaw opened #13 "Functional traits"
Fill out the functional traits data for all species.

[Data here](https://github.com/SrivastavaLab/bwg_names/blob/master/data/functionaltraits.tsv)

[2015-03-11 21:52] adletaw opened #14 "Split data"
Split the data into new data sets so that each person can work on a separate data set.  Retain the nickname column for merging.

[2015-03-11 21:52] adletaw opened #15 "Remove quotes from tsv files"
Remove the quotes from text fields in tsv files.

[2015-03-11 22:52] #6 closed

[2015-03-11 22:52] #7 closed

[2015-03-11 23:11] aammd commented on #15
Fixed this hopefully in d7047fcf34d5f7a34e9390bcafe6c398c3536598

[2015-03-11 23:11] #15 closed

[2015-03-11 23:14] aammd commented on #12
Er, what data exactly do we need for this one, @DEZERALDOlivier & @dsrivast ?
Specifically, does Olivier need a dataset with the functional traits?
@adletaw were you also going to work on this one?

[2015-03-11 23:21] aammd commented on #14
OKO here is a list of what I need to do:

-[ ] functional traits for @dsrivast , #13
-[ ] macromicro, #10
-[ ] aquatic terrestrial, #9
-[ ] taxonomic data, #8

[2015-03-11 23:36] aammd commented on #8
OK @farjalla this should be ready to go now! FYI here is a handy [tutorial about taxize](http://ropensci.org/tutorials/taxize_tutorial.html)!

[2015-03-11 23:38] aammd commented on #1
Hm I think that the emails that Alathea and I just sent could also be usefully added to the README..

[2015-03-11 23:39] aammd commented on #13
Do we need to wait for this to be completed before beginning on #12 (functional groups) and #11 (predator-prey?)

[2015-03-12 18:13] farjalla commented on #8
Questions in the taxonomic issue:
1. May I create a new column in the file? "Lower taxonomic classification" of some groups is wrong (ex. Copepoda is a subclass and our first column refers to order);
2. What should I put in open cells? There are two kinds of them: first where there is no intermediate classification (ex. there is no sub-family in the Scirtidae family) or second where the lower tano

[2015-03-12 18:29] farjalla commented on #8
One more question;
In some cases there is the species name as Cecidomyiidae sp. 2 but the lowest taxonomic level know is family (Cecidomyiidae). How should I proceed? May I delete the name Cecidomyiidae sp. 2 as it is meaningless in relation to taxonomy or keep it? In the second case, how should I deal with the "open cells" of sub-family and genus?

[2015-03-12 18:32] adletaw commented on #12
I didn't end up with an assignment so I'm happy to help wherever needed!

On 15-03-11 04:14 PM, Andrew MacDonald wrote:

--
Alathea D. L.
PhD Candidate, Srivastava Lab
www.zoology.ubc.ca/~srivast

[2015-03-12 18:44] DEZERALDOlivier commented on #12
I am ready to work on this one but where is the file I can work on, should we create on for issue #12?

[2015-03-12 18:51] DEZERALDOlivier commented on #12
Forget this question I will work on Terrestrial-Aquatic.tsc!

[2015-03-12 21:49] farjalla commented on #8
I will remove lines 678-679-670 (keys 677, 678, 679). They are just part of organisms.

[2015-03-12 21:54] adletaw commented on #8
Do you mean these?

https://github.com/SrivastavaLab/bwg_names/blob/master/data/taxonomic.tsv#L678-L680

Don't we still need to retain these even though there is no taxonomic information?  Otherwise we will not be able to put the relevant abundances into the database.

[2015-03-12 21:57] farjalla commented on #8
ok. I will keep

[2015-03-12 22:01] adletaw commented on #8
Should we add more levels of taxonomic detail?  i.e. Domain, Kingdom, Phylum, Class.  I am wondering because we may in the future add in some bacteria or fungi into our survey data and it would help to have those levels, to distinguish them.

[2015-03-12 22:04] farjalla commented on #8
I guess we HAVE TO. Some organisms were just have the Class or Sub-Class (ex. Acari, Copepoda, Oligochaetas).
May I do it in my Table? I have almost finished my issue.

[2015-03-12 22:07] adletaw commented on #8
Yes, that is fine with me.  I think you are the only one using the table, so it shouldn't mess anyone up.  Maybe you can add the empty new columns and then make the commit.  Then each time you fill in rows for the new columns, those will show up in future commits.

[2015-03-12 22:10] adletaw commented on #8
We should make a standard decision about what to put in empty cells.  I think <code>NA</code> is best since that is also the default for missing values in R.

[2015-03-12 22:12] adletaw commented on #8
And in response to your question above, it is okay to add more columns for taxonomic divisions.  I would just add all of the new columns first, then commit, then fill in the information.  That will make it easier to track your changes.

[2015-03-12 22:15] farjalla commented on #8
I will put NA. Then we can decide further.

[2015-03-12 22:17] farjalla commented on #8
I will add the new columns in the Table I am working on. However, I updated this table with the information I collected this morning (i.e. almost all my issue!).

[2015-03-12 22:22] farjalla commented on #8
@adletaw I have committed my table. Take a look and see if it is fine. My next step will be adding the new columns and the NAs

[2015-03-12 22:23] adletaw commented on #8
Hm, did you push the changes to GitHub?

[2015-03-12 22:25] farjalla commented on #8
ops...

[2015-03-12 22:26] farjalla commented on #8
done

[2015-03-12 22:28] adletaw commented on #8
It looks great!!!!

[2015-03-12 22:33] nacmarino commented on #9
hey @adletaw...whatever I modify one cell from the data file and try to commit it, it tell me I deleted the entire row and made a new one...is that correct?

[2015-03-12 22:39] adletaw commented on #9
Yep!  That is how it is supposed to go.

On 15-03-12 03:33 PM, Nicholas Marino wrote:

[2015-03-12 22:46] adletaw commented on #9
Push some changes so we can see what you are doing!

On 15-03-12 03:33 PM, Nicholas Marino wrote:

[2015-03-12 22:49] farjalla commented on #8
Pushed the table with 4 new columns (Phyllum, Sub.Phyllum, Class, Sub-Class). It will solve some of our problems.

[2015-03-12 22:53] adletaw commented on #8
Looking very good!

[2015-03-12 22:55] nacmarino commented on #9
Pushed the table, put still have some questions about classification.

[2015-03-12 23:01] adletaw commented on #9
Okay, I see what you did.  It looks like you had to merge the taxonomic.tsv file as well.  In the future if you pull new changes right before pushing your own changes, you should not have this merge problem.  Did you get any error messages when you pushed?

[2015-03-12 23:01] adletaw commented on #9
What are your classification questions?

[2015-03-12 23:07] farjalla commented on #8
O notice a problem in a nickname (L78)
https://github.com/SrivastavaLab/bwg_names/blob/master/data/taxonomic.tsv#L78
The organism is a Copepoda, not a Coleoptera.

[2015-03-12 23:14] adletaw commented on #8
Okay.  We may have some problems with nicknames, including some that are missing.  Andrew will create a separate issue for this and we can fix them up after your work on taxonomy is done.

[2015-03-12 23:20] farjalla commented on #8
ok. Lets just keep it in mind

[2015-03-12 23:45] adletaw opened #16 "Fix nicknames"
- [ ] Add in missing nicknames
- [ ] Fix spelling in any misspelled nicknames

[2015-03-12 23:47] adletaw commented on #16
Vinicius found an error in this nickname already:

https://github.com/SrivastavaLab/bwg_names/blob/master/data/taxonomic.tsv#L78
The organism is a Copepoda, not a Coleoptera.

[2015-03-12 23:56] aammd commented on #9
OK so unfortunately the original data file that Nicolas worked on was far too large. I've added a new file in 8f17e4d42c9158a4e97f4872e94739cf62bdfe71 for Nicolas to put his data in

[2015-03-13 00:23] nacmarino commented on #9
Now it's okay.

The classification is just that the taxonomy in such a high level, that I
can't be sure that the organism is in fact aquatic. For Macae I can tell
that, but not for other sites...

[2015-03-13 00:27] aammd commented on #9
I Feel like that would be an NA? @dsrivast , what do you think?

[2015-03-13 00:35] adletaw commented on #9
We may be able to compile a list and ask the rest of the BWG if they can solve any of those unknowns.  Otherwise, NA is basically the only choice.  Can @DEZERALDOlivier help with any of the French Guiana organisms?

[2015-03-13 00:40] DEZERALDOlivier commented on #9
I'll look at it but I'll wait to be alone working on the file, don't want to make mistakes again!

[2015-03-13 00:56] nacmarino commented on #9
You can go on, I won't work on it now! hahaha

[2015-03-13 01:13] farjalla commented on #8
I add a "readme" file with the problems I reported so far and I could not solve (2 problems until ~L380).

[2015-03-13 01:15] adletaw commented on #8
Good idea!  I am adding a [link to your file here](https://github.com/SrivastavaLab/bwg_names/blob/master/taxonimical%20problems).

[2015-03-13 01:31] #14 closed

[2015-03-13 16:30] DEZERALDOlivier commented on #12
We need to clarify the functional groups of the following invertebrates, here is what I think (from personal observations):
-Tanypodinae spX and Monopelopia => piercer predators
-Orthocladinae, Chironominae => gatherer (they are assigned the filter feeder group in the functional trait file but I think mouth parts make them gatherers instead)
-Ostracods, Elpidium in particular => scrapers

What do

[2015-03-13 18:47] nacmarino commented on #9
Where can I create a list for the unresolved species, @adletaw?

[2015-03-13 20:48] aammd commented on #9
By unresolved species, @nacmarino , do you mean species that aren't identified, or species that don't have a value for aquatic or terrestrial (ie are NA)

[2015-03-13 20:54] aammd commented on #12
That makes sense.

Up till now, have you been using the functional/fuzzy traits as a guide for filling in species functional groups?

If we make the changes you suggest to the functional group column, then we should also change the fuzzy traits to match, no?  In that case @dsrivast should coordinate with you.

In the meantime, you could create a separate dataset, with a row for every organism you

[2015-03-13 21:08] nacmarino commented on #9
I mean species we are not sure on their habitat, such as those marked as
a/sa or sa/t. Or even species that are marked as aquatic, but I couldn't
find any references for aquatic larvae of that particular genus/family.

[2015-03-13 21:45] DEZERALDOlivier commented on #12
Exactly I've been using the functional/fuzzy traits as a guide (Distribution organisms_correct2015 in Dropbox). And question marks in the previous commit correspond to mismatches with the functional trait file! Then I took the liberty to modify some functional group for which I was sure (culicid, bezzia etc...) and then submited a new commit . Therefore, the coordination with @dsrivast should take

[2015-03-13 23:07] nacmarino commented on #9
@aammd and @adletaw, I was talking with @farjalla and he said his table has now a better taxonomic resolution than mine. Could you create a new data file, containing the column I already worked on, with the information from @farjalla table? I think we can advance with the aquatic/terrestrial pretty much this way!

[2015-03-13 23:11] farjalla commented on #9
The point is the information in the "name" column might be incomplete. For instance, some name columns are codes and the whole information about the species appears in other columns. I would prepare a new table with all the taxonomic information to other characterization.

[2015-03-14 00:22] adletaw commented on #9
if you want, you can make a new file with the list and push it to the
repository

On 03/13/2015 02:08 PM, Nicholas Marino wrote:

--
Alathea D. L.
PhD Candidate, Srivastava Lab
www.zoology.ubc.ca/~srivast

[2015-03-14 00:25] adletaw commented on #12
Hm, you may need to talk through some of the mismatches with @dsrivast.  Yes, we can go back in time, but probably shouldn't need to if you are confident in your changes.

[2015-03-14 00:27] #8 closed

[2015-03-14 00:30] adletaw commented on #9
@nacmarino Vinicius added some columns to the [taxonomic data](https://github.com/SrivastavaLab/bwg_names/blob/master/data/taxonomic.tsv).  Perhaps you can reference that table while you are going through yours?  It is easier if we join all of the tables once they are all done.

[2015-03-16 16:16] dsrivast commented on #9
Hi crew-
Sorry I missed jumping in earlier. If you are unsure about anything about a species - e.g. whether it is aquatic or terrestrial - can I suggest that the first thing you should do is to contact the researcher, who probably knows the answer. If THEY do not know the answer, only then put "NA". Once this data is in the database, it will take a Herculean effort to improve it (realistically, th

[2015-03-16 17:50] nacmarino commented on #9
Working on that now, then.

[2015-03-16 18:36] nacmarino commented on #9
Okay.

So, I created a new data table (aquatic_terrestrial_unknowns) with all
species I'm not certain. I'll send an email for the person responsible for
the dataset in each country. However, I need to confirm whom should I
contact, for:

AR (Argentina) - Ignacio (?)
Brazil Cardoso - Gustavo Romero (?)
CO (Colombia?) -
DO (Dominica?) - Barbara Richardson (?)
HO (Honduras?) -
JP (???) -
PR (Puerto R

[2015-03-16 20:33] adletaw commented on #9
The Colombia data comes from Fabiola.  You can find all of the email
addresses on the BWG website here:

http://www.zoology.ubc.ca/~srivast/bwg/researchers.html

On 3/16/2015 11:36 AM, Nicholas Marino wrote:

--
Alathea D. L.
PhD Candidate, Srivastava Lab
www.zoology.ubc.ca/~srivast

[2015-03-17 23:34] nacmarino commented on #9
Does anyone has Merlijn Jocque e-mail?

[2015-03-17 23:38] farjalla commented on #9
merlijnjocque@gmail.com

Vinicius F Farjalla, Dr.,
Professor Adjunto
Associate Professor
http://www.researcherid.com/rid/G-4945-2010

Depto. Ecologia,  Inst. Biologia, Universidade Federal do Rio de
Janeiro, Rio de Janeiro, RJ, 21941-590, Brazil.
Phone: +55 21 2562 6374

2015-03-17 16:34 GMT-07:00 Nicholas Marino <notifications@github.com>:

[2015-03-24 22:01] aammd commented on #16
How are we going to add in these missing nicknames? we could write a simple function that would use the order names from Vinicius's work. This could be done after the whole dataset is merged back together, since we're merging on the `key` column

I also feel like I need clarification on what nicknames are even for.

[2015-03-24 22:12] adletaw commented on #16
I agree that we should add them in once everything has been merged
together.  In my opinion, the nicknames should be an easy way for people
to refer to the same organism with confidence.  The internal database
key is the computer's way of uniquely referring to an organism whereas
the nickname is our human way to do the same thing.

Maybe someone else knows, have the nicknames already been used in

[2015-03-24 22:52] farjalla commented on #16
I would suggest one major strategy: use the highest meaningful taxonomic
unit possible. For exemple, Diptera is not good enough as 95% of what we
pick up is Diptera. Thus, I would use Cullicidae1, Chironomidae2 and so on.
Other Diperta could be classified by Order such as Trichoptera, Odonate,
Hemiptera. Other groups would include higher taxonomic levels such as
Oligochaetas etc. In summary, I wou

[2015-03-24 22:56] aammd commented on #16
How do we feel about just keeping incorrect ones? I mean if they are only shorthands for a species name, and only within our own working group, then I'd argue it is harmless if we keep calling Apocyclops "Coleoptera.1"

[2015-03-24 22:58] nacmarino commented on #16
I think the best deal is not to mess up with the nickname, ever. This is how each taxon is known in each location and each researcher. For instance, I use more the nickname than any other thing when I'm working with the data.

Enviada do meu iPhone

[2015-03-24 23:03] adletaw commented on #16
I think I agree with that.  It could be confusing to change them even if
they are wrong.  It doesn't matter so much since you can look in the
database to find the actual taxonomic information.

On 03/24/2015 03:58 PM, Nicholas Marino wrote:

--
Alathea D. L.
PhD Candidate, Srivastava Lab
www.zoology.ubc.ca/~srivast

[2015-03-24 23:04] farjalla commented on #16
Ok, it is an option but there are some misspellings. Those must be
corrected to retrieve the complete information from the dataset.

Vinicius F Farjalla, Dr.,
Professor Adjunto
Associate Professor
http://www.researcherid.com/rid/G-4945-2010

Depto. Ecologia,  Inst. Biologia, Universidade Federal do Rio de
Janeiro, Rio de Janeiro, RJ, 21941-590, Brazil.
Phone: +55 21 2562 6374

2015-03-24 15:58 GMT

[2015-04-02 18:19] adletaw commented on #9
@nacmarino How is this going?

[2015-04-02 18:22] adletaw opened #17 "Add higher levels of taxonomic resolution to the taxonomy table"
Add the higher levels of taxonomic resolution so we can incorporate other kingdoms into the database (bacteria, fungi, etc.)

https://github.com/SrivastavaLab/bwg_names/blob/master/data/taxonomic.tsv

[2015-04-02 18:25] adletaw commented on #10
@samundrud How is this going?

[2015-04-02 18:26] nacmarino commented on #9
Just need info from Gustavo Romero and the Richardsons. All else good to go.

[2015-04-02 18:28] adletaw commented on #9
Sounds good!  I may be able to help on some of the Cardoso data.  I'll take a look.

[2015-04-02 18:31] farjalla commented on #17
Is it for me? Guess so.
I will add Domain and Kingdom, ok?

Vinicius F Farjalla, Dr.,
Professor Adjunto
Associate Professor
http://www.researcherid.com/rid/G-4945-2010

Depto. Ecologia,  Inst. Biologia, Universidade Federal do Rio de
Janeiro, Rio de Janeiro, RJ, 21941-590, Brazil.
Phone: +55 21 2562 6374

2015-04-02 11:22 GMT-07:00 Alathea <notifications@github.com>:

[2015-04-02 18:32] adletaw opened #18 "Remove question marks in taxonomic data"
Some names have question marks.

For example:
https://github.com/SrivastavaLab/bwg_names/blob/master/data/taxonomic.tsv#L22

[2015-04-02 18:32] adletaw commented on #17
I assigned it for myself, but you can do it if you want to :)

[2015-04-02 18:35] farjalla commented on #18
hum. I will see it

Vinicius F Farjalla, Dr.,
Professor Adjunto
Associate Professor
http://www.researcherid.com/rid/G-4945-2010

Depto. Ecologia,  Inst. Biologia, Universidade Federal do Rio de
Janeiro, Rio de Janeiro, RJ, 21941-590, Brazil.
Phone: +55 21 2562 6374

2015-04-02 11:32 GMT-07:00 Alathea <notifications@github.com>:

[2015-04-02 18:35] farjalla commented on #17
I will do it as I have to see the quotation marks

Vinicius F Farjalla, Dr.,
Professor Adjunto
Associate Professor
http://www.researcherid.com/rid/G-4945-2010

Depto. Ecologia,  Inst. Biologia, Universidade Federal do Rio de
Janeiro, Rio de Janeiro, RJ, 21941-590, Brazil.
Phone: +55 21 2562 6374

2015-04-02 11:32 GMT-07:00 Alathea <notifications@github.com>:

[2015-04-02 18:36] adletaw commented on #17
Okay, I will let you work on those two things.  I'll reassign them to
you so there is no confusion.

On 04/02/2015 11:35 AM, Vinicius Farjalla wrote:

--
Alathea D. L.
PhD Candidate, Srivastava Lab
www.zoology.ubc.ca/~srivast

[2015-04-02 18:54] nacmarino commented on #9
There is a file, aquatic_terrestrial_unknowns.txt, on the main folder. All
the unresolved unknowns are there.

2015-04-02 11:28 GMT-07:00 Alathea <notifications@github.com>:

--
Nicholas Marino, MSc.
Universidade Federal do Rio de Janeiro
Laboratório de Limnologia
Site: www.biologia.ufrj.br/limnologia/
Blog: www.limnonews.wordpress.com

[2015-04-02 18:58] samundrud commented on #10
@adletaw @aammd Hey Alathea, I talked to Andrew a while ago and we decided that it is best that I wait for the taxonomy to be resolved before I do anything more. Andrew will send me an updated data sheet once this is done (right, Andrew?)

[2015-04-02 19:50] adletaw commented on #10
Okay - good to know!

On 04/02/2015 11:58 AM, samundrud wrote:

--
Alathea D. L.
PhD Candidate, Srivastava Lab
www.zoology.ubc.ca/~srivast

[2015-04-02 22:26] farjalla commented on #18
close #18

[2015-04-02 22:27] farjalla commented on #17
close #18

[2015-04-02 22:28] farjalla commented on #18
close #17

[2015-04-16 18:45] DEZERALDOlivier commented on #12
I hope you guys are not working on this file I am on it!

[2015-04-24 05:17] dsrivast commented on #13
Probably, it is getting very close to complete!

[2015-04-24 05:21] dsrivast commented on #12
Hi Olivier- Functional traits are almost ready, but not quite, I have about a dozen I am still working on - should have this wrapped up with in a week

[2015-04-28 22:35] dsrivast commented on #17
@farjalla I found a few errors in the taxonomic info in the original data, can you confirm if you have fixed them in the meantime? (1) Tanypodinae is a subfamily, but was erroneously listed as a family for Diptera.424 and Diptera.433  (2) Rumphomyia is in Empididae, but was erroneously put in Culicidae (by the macae crew!).

[2015-05-12 19:01] #18 closed

[2015-05-12 19:54] aammd commented on #17
@dsrivast @farjalla I can confirm that the Tanypodinae is OK, and
_Runchomyia_ is spelt correctly in the **Genus** column of the spreadsheet, but is mispelled as _Rumphomyia_ in the Name column.
_Runchomyia_ is a Culicid. :sweat_smile:

[2015-05-12 19:54] #17 closed

[2015-05-12 20:01] aammd commented on #16
@adletaw just to ping you -- what is our status on this question? (i see you are self-assigned here :stuck_out_tongue_winking_eye: )
@dsrivast what do you think is the best way forward? Should mispelled nicknames be discarded?

[2015-05-12 20:03] adletaw commented on #16
Ah.  I haven't started this yet as I was waiting for all of the other
issues to be completed.  We need to both fix misspelled, and add new
ones for those missing a nickname.

On 5/12/2015 1:01 PM, Andrew MacDonald wrote:

--
Alathea D. L.
PhD Candidate, Srivastava Lab
www.zoology.ubc.ca/~srivast

[2015-05-12 20:03] aammd commented on #13
as far as the dataset [functionaltraits.tsv](https://github.com/SrivastavaLab/bwg_names/blob/4901285622f71b9f59ad79fb9e5d5c7ad8d2100a/data/functionaltraits.tsv) is concerned, this was corrected in daba0b6377985fec6ebe5cd5ef493daf943b5227

[2015-05-12 20:03] #13 closed

[2015-05-12 20:21] aammd commented on #10
UPDATES
this commit (68ca008795a88ea13358b3dd1b62746c59c2277f) introduces a simple script that will label all ostracods, mites and copepods into "micro"

**QUESTION**: what shall we do with flatworms? Are they micro? I think they should be.

[2015-05-12 20:25] aammd commented on #9
@nacmarino  is this complete now? I guess we are still waiting for some information. But if we are switching to working on the full data then i guess we can close this?

[2015-05-12 20:26] aammd commented on #4
NOT GONNA HAPPEN

[2015-05-12 20:26] #4 closed

[2015-05-12 20:26] aammd commented on #1
y'know what the README is probably fine the way it is

[2015-05-12 20:26] #1 closed

[2015-05-12 20:27] aammd commented on #11
In fact I believe we'll be capturing this information in #12

[2015-05-12 20:27] #11 closed

[2015-05-19 18:40] #9 closed

[2015-05-19 18:41] #10 closed

[2015-05-19 18:43] aammd commented on #12
M. Dezerald dealt with this issue (in its current form) in SHA 5f551371

[2015-05-19 18:43] #12 closed

[2015-05-19 18:56] aammd opened #19 "Switching to working on the full dataset"
Hello @SrivastavaLab/users ,

Excellent work everyone! we have made considerable progress on filling in this dataset.  I have assembled a quick report on the topic (see a preview of the present version [here](https://htmlpreview.github.io/?https://raw.githubusercontent.com/SrivastavaLab/bwg_names/master/report/report.html)). For the latest version of the report, go to the /report folder

We are go

[2015-05-20 19:57] aammd opened #20 "fix column names to be consistent with database"
In the BWG database, we can upload all the taxa at once, but the names must be consistent.

EDIT: We still need to...
- [x] Set up the script to read in the latest version of `Distribution_organisms_full.tsv`
- [x] Number the script and output file when we know what order it goes in the script set
- [ ] Add the higher level taxonomic columns if Jonathan adds them to the database
- [ ] Add tribe an

[2015-05-20 22:08] adletaw opened #21 "Deal with duplicate rows"
Some rows have been duplicated in the dataset.  We should probably remove these, but @dsrivast can you confirm?  There are some issues here because sometimes the nicknames are slightly different between duplicate rows and we need to decide which one is correct.

Take a look at the full description in Andrew's excellent [report](https://htmlpreview.github.io/?https://raw.githubusercontent.com/Sriva

[2015-05-20 22:25] adletaw opened #22 "Adding fuzzy traits"
Some species have no fuzzy trait information even though they are identified to family or lower taxonomic level.  @dsrivast Would it be possible to fill in some of this information for those species?  The details are in [Andrew's report](https://htmlpreview.github.io/?https://raw.githubusercontent.com/SrivastavaLab/bwg_names/master/report/report.html) under `Functional traits`.

[2015-05-20 22:27] adletaw opened #23 "Aquatic terrestrial"
In the aquatic/terrestrial column, some species are marked as "**a**" meaning that the principle researcher has been contacted but has not responded yet.  At some point, we should stop waiting for these responses and mark these as `NA`.

Take a look in [Andrew's report](https://htmlpreview.github.io/?https://raw.githubusercontent.com/SrivastavaLab/bwg_names/master/report/report.html) under `aquati

[2015-05-20 22:33] adletaw opened #24 "Functional groups don't always match fuzzy traits"
This one probably requires a discussion between @DEZERALDOlivier  and @dsrivast.

@DEZERALDOlivier did a lot of work filling in the functional groups column.  However, the `FG` columns in fuzzy traits should match up with the functional traits - and in several cases, they do not.  @aammd has written a [detailed report](https://htmlpreview.github.io/?https://raw.githubusercontent.com/SrivastavaLab/

[2015-05-20 22:47] adletaw commented on #19
@aammd Thank you for your really great and comprehensive report.  I have opened issues for each of the topics you mentioned therein.  It looks like we need to come to some agreement on what to do for each one before assigning them.

[2015-05-21 01:06] DEZERALDOlivier commented on #24
Hi guys, thanks for taking the time to put all this work together. Inconsistencies between fuzzy traits and functional groups are not mistakes from me they are rather personal observations. For instance, chironomids, in fuzzy traits, are considered filter feeders while they are, I think, more gatherers. We can argue about it since chironomids are highly diversified, and within this taxonomic group

[2015-05-25 04:34] aammd commented on #24
I want to comment on what I think is a related issue: what is represented by rows in this table which are not identified to species?

*  (A) Is each such row a different morphospecies, which we hope will turn out to be a single species upon closer testing? *Or*

*  (B) Is an incompletely identified row meant to stand in for multiple unidentified species, in effect saying "This is all we know about

[2015-05-25 04:38] aammd commented on #19
Thank you @adletaw, I think we should just discuss each of these things individually :smile_cat:

[2015-05-25 04:38] #19 closed

[2015-05-25 04:40] aammd opened #25 "Add macro/micro column"
We already have code to generate the column; it merely needs to be added to the main dataset: 887455eef1c6128f313abb5ca2b37ff829e43f6e

[2015-05-25 05:03] #25 closed

[2015-05-25 05:22] aammd opened #26 "Create a predator / prey column"
This column (i think!) simply needs to say "predator" where @DEZERALDOlivier 's functional group column says "predator piercer" or "predator engulfer"

Additionally we should remove the word "predator" from the functional group column (leaving only "piercer" and "engulfer")

Also it would be good to kill the space in "filter feeder"

[2015-05-25 05:23] #26 closed

[2015-05-26 22:29] adletaw commented on #24
In my opinion, each row should stand for a morphospecies that we hope to one day identify to the species level.  This is the easier way to deal with the data once it is in the database because it is hard to split up rows once they have been created.  This is also how the data sets have already been organized (as far as I know).  Each row is a morphospecies so some rows may have duplicate taxonomic

[2015-05-26 23:29] aammd commented on #24
@adletaw I completely agree.  However, i worried that another interpretation might be common when i saw that **two** research groups had independently used duplicate BWG nicknames in their precipitation experiment datasheets. Either these are errors, or we need a better articulation of what exactly this dataset (that is, `bwg_names`) actually means

[2015-05-26 23:48] adletaw commented on #24
@aammd  Could it be that there is some resistance to adding new species?  This is definitely something that should be clarified for the purposes of populating the database in the future.  For your case, I wonder if people are looking at their species list and finding that two different morphospecies basically identify as one that already exists.  I think that means that the original morphospecies

[2015-05-27 12:14] DEZERALDOlivier commented on #24
I completely agree with @adletaw, I would not combine species into a single row, unless we are 100% sure they belong to the same species. My approach here was to assign functional groups based on knowledge of each particular species. For instance, Monopelopia (chironomid) is a predator. But based on what I know from several species sometimes fuzzy traits and functional groups did not match.

I thi

[2015-05-27 17:01] aammd commented on #24
@DEZERALDOlivier Well let's not go back and change that data just yet! Perhaps in some cases the fuzzy traits need to be re - examined, and in other cases it is the func.group.
Have you had a chance to see the table at the end of the report? I was thinking that what we need is to see this table, but also some taxonomic information (so we know which species are involved)
/cc @dsrivast

[2015-05-27 18:23] dsrivast commented on #24
Hi guys. @DEZERALDOlivier, @aammd @adletaw, There are a lot of intertwined issues here. (1) What to do when fuzzy traits and functional groups do not show a close match? This could occur for a number of reasons. One is that Olivier used his brain (always a good thing) and decided that chironomids and culicids cannot both be lumped together as filter feeders. They are subtly different, and that sub

[2015-05-27 18:25] dsrivast commented on #21
I have pasted this comment from another issue. What happens if we later lump species, or discover true duplicates? We don't want duplicates (think of the potential of divergent "evolution" through researcher error in their functional traits), but I worry about how we would reliably change the BWG codes in the raw survey/precip data to match the chosen BWG name. @adletaw @aammd

[2015-05-27 18:58] aammd commented on #24
@dsrivast  comments on each point in turn:

1. I agree that we should trust Olivier's brain. If I am interpreting your comment correctly, we will be focussing first on correcting fuzzy traits, and only _then_ revisit the functional groups (if necessary?)
   *  Regarding inconsistencies: ("I currently have the summer students identifying inconsistencies in the fuzzy traits where they should all be

[2015-05-27 19:00] aammd commented on #21
hm. I just thought of this, but we already have a plan for handling synonymy: using the name1, name2 etc columns. Could that be a solution here?

[2015-05-27 19:04] aammd commented on #21
Oh wait! I just looked back at the report (link above).  We are working with different definitions of "duplicates" -- here by "duplicate" I meant any rows with the *same nickname*. Thus nothing would have to change in the original datasets.
Rather it seems like trivial typos are the only differences.
 However, since there are one or two non-trivial differences (ie *Phylloicus bromeliarum* and Tric

[2015-05-27 19:28] dsrivast commented on #21
Yes, but is there a creative way to speed up @dsrivast's tasks? I am resolving a lot of things, and there isn't enough of me, I feel like I am once again becoming the rate-limiting step...especially with a trip to Costa Rica next week. Re Trichoptera - Argentina also found a Trichoptera, so I will need to make sure we don't confuse Cardoso's (identified) and Argentina's (unidentified) trichopteras

[2015-05-27 20:45] adletaw commented on #21
This issue could be resolved by anyone - it just takes a bit of reason and making a couple tough decisions that have no right answer.  @aammd is correct, any extra names and incorrect nicknames should be put in the `name1` `name2` etc. columns.  The fact that some species really do have the same nickname is a mistake that can't really be fixed, so we just need to make a decision on it, make a note

[2015-05-27 21:01] aammd commented on #21
just had an in-person conversation with @dsrivast , summarizing here:

There are two cases we need to deal with:

1. Rows with identical `nickname` and identical `Name`
1. Rows with identical `nickname` but **different** `Name`

For **1**, @aammd will use R to compare the rows (with `identical`) to see if they are different. If not, will delete the odd-numbered ones. if they are different, will di

[2015-06-12 20:57] dsrivast commented on #16
Hi guys - Nicholas is right here I think. The nicknames should never, ever be altered once assigned, no matter if there are spelling mistakes, extra spaces, etc. For example, there were species that we thought were Diptera but that are not, but we need to keep calling them Diptera.43 or whatever just to make sure that our species handle never becomes disassociated with the data....as that is the o

[2015-06-12 21:12] adletaw commented on #16
Okay, I agree with that.  My only worry is internal inconsistencies in spelling.  For example, If one group of researchers uses Oligochaeta.1 and another uses Oligocheata.1 for the same species.  @farjalla mentioned some misspellings, but is this what you meant?  I looked through our full dataset just now and didn't catch anything like that.

[2015-06-15 10:33] nacmarino commented on #16
I agree with Diane. No fixes on the BWGcodes. Besides, this is only a way
to ID which organism is which, and in a publication should be presented as
the original taxonomic name, right?

[2015-06-19 23:01] dsrivast commented on #22
I've been working on solving this. The following species on Andrew's report under functional traits are terrestrial, and so will never have functional traits: Coleoptera.40, .54,.56,.20 and Lepidoptera.1  If you felt inclined, the code could be changed on the report to exclude terrestrials.
The others: I am waiting on a ID confirmation from Macae for the"black headed chironomid", Muscidae will be

[2015-06-19 23:11] adletaw commented on #22
@dsrivast Just to confirm, this error occurred while committing, not pushing to Github?  Did the error message name a file like this:

`../.git/index.lock`

With a `.lock` extension?  If so, you can find that referenced file on your computer and delete it.  Your commits should work then.

[2015-06-20 00:08] dsrivast commented on #22
Yes, "Unable to create 'C:/Users/Diane/Dropbox/Bwgdb project/bwg_names/.git/index.lock': File exists."
OK I'll try that, thanks

[2015-06-20 00:12] adletaw commented on #22
And hopefully you don't have two Git's open somehow.

[2015-06-20 00:40] nacmarino commented on #22
Need something from the Macae data?

[2015-06-20 02:30] dsrivast commented on #22
Success, thanks @adletaw. Nicholas @nacmarino  I sent you an email about Macae's "black headed chironomid"...I wonder if it is Sciaridae instead...

[2015-06-24 22:53] aammd opened #27 "there are spaces in three nicknames"
Diptera. 402
Diptera. 403
Diptera. 404

[2015-07-09 20:19] adletaw commented on #16
Nicknames will not be changed.

[2015-07-09 20:19] #16 closed

[2015-07-09 22:05] aammd commented on #24
The fuzzy trait columns and the functional group factor refer to different pieces of information. Organisms are not assigned to a functional group category by the fuzzy traits alone. The functional group represents a useful variable for filtering the dataset. the fuzzy traits are used in calculations of species diversity.
The functional groups column also catches the consensus of the field/literat

[2015-07-09 22:05] #24 closed

[2015-07-09 22:08] aammd commented on #23
@nacmarino , would you please contact the researchers here again? We are still missing many aquatic/terrestrial values. If we can't fill them in soon (deadline = Next Friday) we'll have to enter them as NA, then (painfully) change them cell by cell in the relational database :cold_sweat:
cc @dsrivast

[2015-07-09 22:15] aammd opened #28 "delete the observed distribution of body size columns"
These are not available for all species, and so lead to a rather non sensical columns
additionally, the distribution of body size is not a trait of a species, but a response to numerous factors.

[2015-07-09 22:23] #28 closed

[2015-07-09 22:53] aammd opened #29 "cut up by row into about 9 groups"
for fuzzy trait checking

* do they match within a broad taxonomic group
* do they match Tache

Checking against Diane's notes with reference to Kathleen's identification of problems ( in spreadsheet).
Note that our little sub-datasets should be sorted taxonomically.

EDIT: I will cut this into groups for 4 teams of 2 people to work on, + 1 group for me (Alathea).

EDIT: The groups will be:
1. Oli

[2015-07-10 15:00] nacmarino commented on #23
All information filled!

[2015-07-10 15:33] adletaw commented on #23
Awesome!!! thanks!

[2015-07-10 15:33] #23 closed

[2015-07-10 16:55] adletaw opened #30 "Add master script"
Add a master script that runs all of the scripts for merging and preparing the data for upload.

[2015-07-10 17:00] aammd commented on #30
Oh i'd be happy to!
:neutral_face:
wait which scripts would these be

[2015-07-10 17:01] adletaw commented on #20
I added a script to do this. However, we are still missing some taxonomic columns from the database (those above Class).  Furthermore, there are some columns that we could be using (tribe, subspecies) but are not.  It would be best to have these two things sorted out before uploading, since the represent systemic problems rather than ones that could be solved on a species by species basis after up

[2015-07-10 17:04] adletaw commented on #30
That is the question!  There is one for merging, then one for adding micro macro, then... ?  The problem is I'm not totally sure.  My [renaming columns](https://github.com/SrivastavaLab/bwg_names/blob/master/Rscripts/renaming_columns.R) script takes the `Distributions_correct` file and generates a new `forupload.csv`, so that should probably be the last one.  Alternatively, we could combine everyt

[2015-07-10 17:20] aammd commented on #30
Oh yes! that was what i was thinking. I feel like we need to discuss what purpose exactly these scripts serve.
(related: I love your `renaming_columns.R` script btw, great idea)

Do the scripts:

1. help us document modifications (not additions) and help us be rigorous about it (ie using `ifelse` rather than search-and-replace in Excel)
2. in addition, help us to reproduce the final data.

Right n

[2015-07-10 17:36] aammd commented on #30
For example, at present if people want to change the data they just edit the most current version of the data. A more reproducible way would be for people to store any edits they have in a small file and then run an R script that would apply those changes to the main data.

For example, if you have to modify 5 fuzzy traits for two species, you write a .csv file with just those two species in the r

[2015-07-10 17:36] adletaw commented on #30
Oh I see.  So there have been direct edits not only to the split up data sets, but also to the remerged data set?  The problem is that there are also modifications being made to the split up datasets (e.g. Nicholas just finished fixing up the aquatic/terrestrial column).  So how do we get back to a merged dataset without undoing any work that was done to the full data?  I know we can't go from raw

[2015-07-10 17:40] adletaw commented on #30
For the sake of ease of completing the project, I am okay with direct edits being made to the split-up versions of data sets rather than using R scripts.  It is not ideal because of the possibility that we may change the master raw data and then where would we be?  But that is unlikely to occur and ultimately we are going to generate one data set and then never use these scripts again.

I am less

[2015-07-10 17:40] aammd commented on #30
Ohh so you're saying that in 12cfcec07da0c60ad6d4b53ac36eaba2d665cd31 Nicolas modified the same file on which he made his original changes? Its true, some of the other columns in that dataset might be outdated in the main dataset right now.  Though probably nothing that would prevent a merge with the new versions of the data.

[2015-07-10 17:42] adletaw commented on #30
Yes, my preferred workflow is:
1. split data
2. the relevant teams of people edit their data subsets
3. R scripts are used to recombine the split-up data into a final dataset for uploading

[2015-07-10 17:48] adletaw commented on #30
Perhaps if this is no longer possible, we can use this workflow for the next split-recombine step on fuzzy traits.

[2015-07-10 18:05] adletaw commented on #29
I am looking at the annotated `Distributions_organisms_full` file provided by Kathleen and Sadie.  Could you confirm that this interpretation is correct (@dsrivast or @khiggins012)?
1.  The highlighted rows that are missing several columns at the beginning are Tachet traits found from some external source; these species may or may not be present in our data sets and the rows were inserted.
2.  The

[2015-07-10 19:19] adletaw commented on #29
I have compiled a list of problem groups.  We need to compress this into 9 sets.

The lowest taxonomic level in common is given.  e.g. `Diptera : Syrphidae` means traits are mismatched at the family level whereas `Diptera: Syrphidae : Eristalis` means traits are mismatched at the genus level

M   = Data mismatched within taxonomic groups
NA = All data NA (research may be needed to fill out these r

[2015-07-10 19:40] dsrivast commented on #29
Yes, this interpretation is correct. Perhaps we should paste the content
of Kathleen's email that I forwarded to you here, as she explains nicely
her highlighting system.

Alathea - I think you have used some R code to generate this "issues"
table (nice job by the way). If so, please add a filter to look only at
species that are aquatic, not terrestrial - that should explain most of
the NA rows.

[2015-07-10 19:48] adletaw commented on #29
No, I did this by hand :cry: I will go back and take a look at where the terrestrial species are and remove those from the table above.  My main goal was to find out how many problems there are in each taxonomic group so that we can divide the data into 9 sets along taxonomic lines.  The table isn't meant to have any bearing on how those problems are solved - and is probably not even totally accur

[2015-07-10 20:29] dsrivast opened #32 "Serro de Japi"
Serro de Japi: I've just checked with Cauê the identity of Dero and Elpidium. They seem to be different from those in Cardoso, but for this list (Japi) we did not confirm the IDs with taxonomists, so it is better to insert them as a different nickname in the general database, in fact. Please, could you do that?

[2015-07-10 21:20] aammd opened #33 "upload kathleen's notes on the names"
We want to have a central place for reference to all the notes that Kathleen has taken on the problems in the fuzzy traits.

[2015-07-10 21:59] adletaw commented on #29
@aammd What should I do about unaffected rows?  Leave them in?  Separate them into their own set?  I suppose this goes back to how you want to deal with merging the data.

[2015-07-10 22:12] dsrivast commented on #29
Create a section of all unaffected rows?
--
Diane Srivastava
Professor
Dept of Zoology & Biodiversity Research Centre,
University of British Columbia
6270 University Blvd
Vancouver BC Canada V6T 1Z4
604-822-1350 (no voicemail)

[2015-07-10 22:13] adletaw commented on #33
As well as Diane, Regis, Pavel, etc. notes on how the trait values were determined, and a howto including [Diane's guidelines on how to complete the work](https://github.com/SrivastavaLab/bwg_names/issues/29#issuecomment-120504439)

[2015-07-12 00:32] #33 closed

[2015-07-12 00:49] #27 closed

[2015-07-13 17:31] adletaw commented on #29
I have created a script to split the data set.  This script runs on `09_Distributions_organisms_full.tsv` and splits the data by rows.  Separated files can be regenerated if any changes are made to the data set before editing begins.

[2015-07-13 18:29] #29 closed

[2015-07-13 18:32] adletaw opened #34 "Check Tachet traits for the Chironomidae"
The team working on this data set will check the traits for all Chironomidae.  The data set is [in the data subdirectory of this repository](https://github.com/SrivastavaLab/bwg_names/tree/master/data) and called `tachet_01_chironomidae.tsv`.  Please edit only the values in the Tachet traits columns, using a separate branch.  When you are done, submit a merge request and Diane will check your resu

[2015-07-13 18:33] adletaw opened #35 "Check Tachet traits for the Culicidae"
The team working on this data set will check the traits for all Culicidae.  The data set is [in the data subdirectory of this repository](https://github.com/SrivastavaLab/bwg_names/tree/master/data) and called `tachet_02_culicidae.tsv`.  Please edit only the values in the Tachet traits columns, using a separate branch.  When you are done, submit a pull request and Diane will check your results bef

[2015-07-13 18:35] adletaw opened #36 "Check Tachet traits for the Syrphidae et al."
The team working on this data set will check the traits for all Syrphidae, Tabanidae and Ceratopogonidae.  The data set is [in the data subdirectory of this repository](https://github.com/SrivastavaLab/bwg_names/tree/master/data) and called `tachet_03_syrphidae_etal.tsv`.  Please edit only the values in the Tachet traits columns, using a separate branch.  When you are done, submit a pull request a

[2015-07-13 18:36] aammd commented on #34
Er one sec though, do these sliced-up subsets contain the updated data from Nicolas?

[2015-07-13 18:37] adletaw opened #37 "Check Tachet traits for the Limoniidae et al."
EDIT: This set will also include the Sciaridae.  Note that the Sciaridae are not currently listed in Kathleen's document, but we are adding a new species so the Tachet traits must be compared (#42).

The team working on this data set will check the traits for all Limoniidae, Psychodidae, Tipulidae, Nematocera (unknown family), Megaloptera, Ephemeroptera, Odonata and Nematoda.  The data set is [in

[2015-07-13 18:39] adletaw opened #38 "Check Tachet traits for the Oligochaeta et al."
The team working on this data set will check the traits for all Oligochaeta(Naididae), Coleoptera, unknown Diptera, Dolichopodidae, Empididae, Ephydridae, Muscidae, Brachycera, Sarcophagidae and Stratiomyidae.  The data set is [in the data subdirectory of this repository](https://github.com/SrivastavaLab/bwg_names/tree/master/data) and called `tachet_05_oligochaeta_etal.tsv`.  Please edit only the

[2015-07-13 18:52] aammd commented on #21
OK so the duplicate _Dero_ and _Elpidium_ from Serro do Japi are actually different species and should have different nicknames, as @dsrivast mentions in #32

[2015-07-13 18:56] aammd opened #39 "write CONTRIBUTING.md"
should contain

* info on branches
* what files you should be modifying, and what you should be avoiding
* links to how-tos on making PRs
* instructions for what to do next -- notify @aammd or @adletaw of your PR, who will in turn notify Diane.

[2015-07-13 19:09] aammd commented on #22
@dsrivast @nacmarino is the controversial Chironomid: [Diptera.54](https://github.com/SrivastavaLab/bwg_names/blob/master/data/09_Distributions_organisms_full.tsv#L239)? If so, can we figure out if it is indeed Sciaridae before we start working on the fuzzy traits?  I couldn't find any history of Diane or Nicolas modifying a chironomid so i don't think that has happened yet

[2015-07-13 20:32] #39 closed

[2015-07-13 21:06] aammd opened #40 "update aquatic and terrestrial traits"
with the data that nicolas contributed in response to #23

[2015-07-13 21:22] dsrivast commented on #22
We successfully concluded that this is Sciaridae, I just never had time to
update the record.
--
Diane Srivastava
Professor
Dept of Zoology & Biodiversity Research Centre,
University of British Columbia
6270 University Blvd
Vancouver BC Canada V6T 1Z4
604-822-1350 (no voicemail)

[2015-07-13 23:47] #40 closed

[2015-07-14 00:06] adletaw opened #42 "Update record for Diptera.54 from Chironomidae to Sciaridae"
The organism in question is [Diptera.54](https://github.com/SrivastavaLab/bwg_names/blob/master/data/10_Distributions_organisms_full.tsv#L239) listed as a black headed chironomid.  A few things need to happen:

- [ ] Update the family from Chironomidae to Sciaridae (as discussed in #22)
- [x] Update the `splitting_tachet_traits.R` script to include Sciaridae.
- [x] Currently, Sciaridae are not in

[2015-07-14 00:08] adletaw commented on #22
Sciaridae problem moved to #42.  Dealing with the Tachet traits moved to issues: #34, #35, #36, #37, #38

[2015-07-14 00:08] #22 closed

[2015-07-14 00:59] #42 closed

[2015-07-14 01:06] adletaw commented on #30
I think the current numbering system solves this problem.

[2015-07-14 01:09] aammd commented on #30
Why don't we make a master .R script that just runs all the data-cleaning code in order? It could begin with
`setwd("Rscripts")`,
thus combining our separate approaches :joy:

[2015-07-14 01:16] adletaw commented on #30
Ah!  That is a good idea.  Then we don't have to run all the numbered ones separately.

[2015-07-14 01:18] adletaw commented on #30
It will have to be a sub-master that only goes up to splitting into Tachet traits.  Otherwise, my split script will overwrite the `tachet_...tsv` files and any edits that have been made will be overwritten.  So I suppose we should have one for doing all of the steps up to splitting.  And one for doing all of the steps from recombining on.

[2015-07-14 22:34] adletaw opened #45 "Check decimal values on Tachet traits"
Some traits have decimal values but they should all be integers.

[2015-07-16 00:59] adletaw commented on #37
@dsrivast Do you have an idea about what to do with species that have only been identified to family or subfamily level but have mismatched traits?  Should the traits all match?  Or may these traits have been observed in the field even if the morphospecies is not further identified?

[2015-07-16 03:35] dsrivast commented on #37
body size is generally from field observations, the other traits are
entirely from the literature. If the trait Word doc does not explain why
the traits differ (and I'm not sure why they ever would) we must assume
that this was an error in input. For the Limoniidae everything but body
size should be consistent. You're next challenge is to figure out which is
the best trait value - here ask yoursel

[2015-07-16 04:23] adletaw commented on #37
Thanks!  That is EXTREMELY helpful!

On 15-07-15 08:35 PM, Diane Srivastava wrote:

--
Alathea D. L.
PhD Candidate, Srivastava Lab
www.zoology.ubc.ca/~srivast

[2015-07-16 17:57] adletaw commented on #21
@aammd This issue has been solved, yes?

[2015-07-16 19:58] aammd commented on #21
Aye, it was corrected with 469f572c3a48865624fc26d0fae773a9e45c9d02 , when `12_Distributions_organisms_full.tsv` was born. :persevere: closing

[2015-07-16 19:58] #21 closed

[2015-08-12 02:08] angienic commented on #45
Ah we're free to round up then. Thanks!

[2015-08-12 15:38] dsrivast commented on #45
Hi Angie-
Which groups of organisms are you working on? I will provide integer values for chironomids and ceratopogonids as I need to take the mode of multiple genera.

[2015-08-12 16:51] angienic commented on #45
Hey Diane,
Saulo and I are working on Syrphidae_et_al, there are also a few Ceratopogonids there.
We are on K582-K598. Would you like us to take the mode or would you rather we leave it to to you?

[2015-08-12 19:05] dsrivast commented on #34
I have a file with modal trait values to replace the non-integer mean values, for chironomids and ceratopogonids. Please contact me when you need this.

[2015-08-12 19:08] dsrivast commented on #45
Syrphids - please calculate modal traits yourself, take the modal average over all records within the finest taxonomic scale of identification. E.g. if just identified as Syrphidae (family-level), take the modal average of every genus within Syrphidae represented in the BWG database. For the Ceratopogonidae, I have done this for you - am emailing file directly.

[2015-08-12 19:10] saulojacques commented on #45
Hi, Diane
Thanks!

[2015-08-31 17:19] angienic opened #53 "Check 4 ceratopogonids with decimal figures not highlighted"
Just in case our comment in the text file gets missed, note there are 4 rows of Ceratopogonids (k140, k142, k131 and k165) that are not highlighted in Kathleen and Sadies' spreadsheet as needing review but they probably do as they have decimal figures in several columns. Worth a check!

[2015-08-31 22:03] aammd opened #55 "Chironomid issues"
from @dsrivast 's comment on 6583a9a

- [x] All non-integer values of traits pooled over higher taxonomic orders to be replaced with integer modal values.
- [x] Let us change, for every chironomid species: RF1=1, RF2=0, RF3=1, RF4=2. This deviates slightly from Tachet's 0,0,0,3 coding for all chironomids, but I have found enough examples (documented in DS notes) of resistant eggs (RF1) and diapaus

[2015-09-01 01:11] aammd commented on #55
There were over 400 changes, so i used an R script to create the new data. Is this way of doing it OK, @dsrivast ? it makes the list of changes rather long :sweat_smile:

[2015-09-01 06:35] dsrivast commented on #55
Yikes, 400 changes! Certainly automating it in R sounds sensible. In terms of the diffs: I think this is one case where I'm just going to have to trust that your R code did everything right - you probably spot checked a few, right?

[2015-09-01 06:46] aammd commented on #55
measure twice, cut once :straight_ruler: :straight_ruler: :hocho:
I checked the [data diff](http://htmlpreview.github.io/?https://raw.githubusercontent.com/SrivastavaLab/bwg_names/comparisons-diane/data/comparisions/01_chironomidae.html) and found that the numbers moved very little (as one would hope, going from the mean to the mode)
I broke the data down into three groups:
* Tanypodine chironomid

[2015-09-01 19:09] aammd commented on #55
k186 and k187 were corrected in 9130a43 above: they have a generalized chironomid trait configuration.
In 6e30138 i confirmed that they are identical to k196

[2015-09-01 21:11] adletaw commented on #37
completed with [merge](https://github.com/SrivastavaLab/bwg_names/commit/40556789f5cd456bf6570e58ec9e2cb8b05a8401)

[2015-09-01 21:11] #37 closed

[2015-09-01 21:11] adletaw commented on #34
completed with [merge](https://github.com/SrivastavaLab/bwg_names/commit/ba20bffee35cbc7f2cadb20d6872e3721e6b7768)

[2015-09-01 21:11] #34 closed

[2015-09-01 21:32] adletaw commented on #38
closed with [merge](https://github.com/SrivastavaLab/bwg_names/commit/2eec16890b78c67a69128b32257c189d8e1ef142)

[2015-09-01 21:32] #38 closed

[2015-09-01 21:33] adletaw commented on #36
closed with [merge](https://github.com/SrivastavaLab/bwg_names/commit/49715a4c8911ecbdbbb21ef92c36d88ef52cc3ac)

[2015-09-01 21:33] #36 closed

[2015-09-01 21:35] adletaw commented on #35
closed with [merge](https://github.com/SrivastavaLab/bwg_names/commit/f0324e435e05de875d4a883dd743c2f77ce30395)

[2015-09-01 21:35] #35 closed

[2015-09-01 21:50] #55 closed

[2015-09-01 21:52] aammd commented on #53
I think this is done! right, @angienic ?

[2015-09-01 21:54] aammd commented on #32
@dsrivast i do believe we have dealt with this one!

[2015-09-01 21:54] #32 closed

[2015-09-01 23:15] angienic commented on #53
yeap, all good @aammd. Thanks!

[2015-09-02 04:54] #53 closed

[2015-09-17 16:59] aammd opened #56 "Fixing a few remaining NA traits!"
If we want to change this matrix at this point, should we do so here or in the database? @adletaw , cc @dsrivast ?

There is an NA for Oligochaeta.8 , modality LO7. It is NA, should be 0

[2015-09-17 17:03] aammd commented on #56
Also in Ostracoda.2 AND Ostracoda.7 same modality

[2015-09-17 17:16] #56 closed

[2015-09-17 21:20] adletaw commented on #56
In database I guess.  What did you decide?  I have changed something in
the database already...we should keep track of these changes though.

On 9/17/2015 10:03 AM, Andrew MacDonald wrote:

--
Alathea D. L.
PhD Candidate, Srivastava Lab
www.zoology.ubc.ca/~srivast

[2015-09-18 01:42] aammd commented on #56
changed already in dc65a5d ; we must do the same in the DB soon or one day will will try to get those data and will be confused

[2015-09-19 04:12] adletaw commented on #56
@aammd Please continue to make all changes in this repository until
after the BWG database workshop.  We may have to repopulate the database
again depending on how that workshop goes.

On 9/17/2015 9:59 AM, Andrew MacDonald wrote:

--
Alathea D. L.
PhD Candidate, Srivastava Lab
www.zoology.ubc.ca/~srivast

[2015-09-19 22:48] dsrivast commented on #56
@aamd lets try to keep all updates synchronous between bwg_names on github
and BWGdb for now. If this gets out of hand, we need to then quickly
address how to directly accessing SQL data from BWGdb via R. But for now
its just a few fixes and we can manage it.....

--
Diane Srivastava
Professor
Dept of Zoology & Biodiversity Research Centre,
University of British Columbia
6270 University Blvd
Vanco

[2016-02-02 17:28] adletaw opened #57 "Remove "key" column in final version"
"key" column does not need to be uploaded.  The script that converts the file into its final version should remove the "key" column.

[2016-02-02 17:42] adletaw opened #58 ""Measurements" renamed to "Species"?"
When adding new species measurements to a visit, you have to click on the "Measurements" tab.  This might be more intuitive if named "Species" so people know this is how they get new species attached to their dataset.

[2016-02-02 17:43] adletaw commented on #58
Whoops - wrong repository!

[2016-02-02 17:43] #58 closed

[2016-02-19 16:52] adletaw opened #59 "How was data set 15 created?"
Hello @aammd @dsrivast ,

I don't understand how we generated [data set 15](https://github.com/SrivastavaLab/bwg_names/blob/master/data/15_Distributions_organism_full.tsv).  This is supposedly created in [script 15](https://github.com/SrivastavaLab/bwg_names/blob/master/Rscripts/15_renaming_columns.R) but that doesn't make sense.  Script 15 renames all of the columns to match the bwgdb format.  Ho

[2016-02-19 18:18] adletaw commented on #59
Sorry @aammd @dsrivast ,

I was just confused about which were our column names, and which were the ones in bwgdb.  Everything is fine now.

[2016-02-19 18:18] #59 closed

[2016-02-19 18:20] adletaw opened #60 "Download new species upload template"
- [x] Download a new species upload template now that Jonathan has added the new taxonomic groups to the database
- [ ] Update the formatting script to change the new column names

[2016-02-19 18:25] #30 closed

[2016-02-19 18:37] adletaw opened #61 "Missing files/functions referenced in script 17"
@dsrivast

We are missing the function `merge_func` and the data `final_inverts` that you reference in the final [data processing script here](https://github.com/SrivastavaLab/bwg_names/blob/master/Rscripts/17_add_missing_traits.R)

[2016-02-19 18:46] #60 closed

[2016-02-19 19:08] adletaw opened #62 "Added diffs for comparing data files"
Hello @aammd @dsrivast ,

I created some diffs to show the differences between our data file versions.  They are in the folder [diffs](https://github.com/SrivastavaLab/bwg_names/tree/master/diffs) (Andrew, did you do this already?  I thought you had, but couldn't find them).

To view them, you can either pull the files to your local repository and open them, or click the links below to render them

[2016-02-19 19:10] adletaw commented on #62
I also created a [master script](https://github.com/SrivastavaLab/bwg_names/blob/master/Rscripts/00_MASTER.R) that will run all of our numbered scripts and generate the `forupload` file automatically.  However, I am afraid to run it because I'm not confident that the new `forupload` will be the same as the old `forupload` even though it should be.

[2016-02-19 19:12] adletaw commented on #57
The [script to do this](https://github.com/SrivastavaLab/bwg_names/blob/master/Rscripts/99_final_step_format_for_bwgdb.R) is ready.  We just need to add in the final changes made in [script 17](https://github.com/SrivastavaLab/bwg_names/blob/master/Rscripts/17_add_missing_traits.R).

[2016-02-19 19:13] adletaw commented on #20
The [script to do this](https://github.com/SrivastavaLab/bwg_names/blob/master/Rscripts/99_final_step_format_for_bwgdb.R) is ready.  We just need to add in the final changes made in [script 17](https://github.com/SrivastavaLab/bwg_names/blob/master/Rscripts/17_add_missing_traits.R).

[2016-02-19 19:16] #45 closed

[2016-02-19 20:26] adletaw commented on #62
I created a new branch to compare our current data files with the new ones generated by the master script.  (The Master script only runs from 14 on because changes were made manually to the Tachet traits).  You can see those comparisons  here:

[14](https://htmlpreview.github.io/?https://github.com/SrivastavaLab/bwg_names/blob/run-master/diffs/diff_old_new_14.html)
[15](https://htmlpreview.github.

[2016-02-19 20:33] aammd commented on #62
I feel like that rather defeats the purpose! :disappointed:
should we abstract those changes to (yet another) file?

[2016-02-19 20:35] adletaw commented on #62
It had to be that way.  Script 13 splits the data into Tachet files.  If you run that it will overwrite the changes that were made.  I don't know what we should do - it is a mess.

[2016-02-19 20:35] aammd commented on #62
I don't want to come on too strong here, but if we can't make our changes reproducible then I think we are in trouble.

[2016-02-19 20:36] adletaw commented on #62
We lost that privilege when we started editing CSVs by hand.

[2016-02-19 20:37] adletaw commented on #62
There is no way to commute any changes to scripts 1-12 into data from 14 on because step 13 was all done by hand.

[2016-02-19 20:45] adletaw commented on #62
Yes, if we could convert those edits to the trait subsets into R scripts, basically in the style of what Diane is doing [in 17](https://github.com/SrivastavaLab/bwg_names/blob/master/Rscripts/17_add_missing_traits.R), then I think we would be OK.  I'm still not sure this gets us from the original `Distribution_organisms` file to what we have now.  I think some other things were changed by hand som

[2016-02-19 20:46] adletaw commented on #62
We can also add the notes everyone made to go with those edits - into the new subscripts.

[2016-02-19 20:57] aammd commented on #62
Could not the work that Diane was doing in [17](https://github.com/SrivastavaLab/bwg_names/blob/5f182914983011e45c0d5041870c485e10977ea5/Rscripts/17_add_missing_traits.R) be done with a lookup table?

[2016-02-19 20:59] adletaw commented on #62
Yes, probably.

[2016-02-22 03:58] dsrivast commented on #62
I'm not sure which is worse, discovering that I could have replaced 30 lines of code with a look up table or finding that information on a site called R for dummies.

[2016-03-02 20:05] #61 closed

[2016-03-02 20:07] #62 closed

[2016-03-02 22:27] #57 closed

[2016-03-02 22:28] #20 closed